body{
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Mono', monospace;
}
img {
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin: auto;
}
.head {
    margin-top: -60px;
}
.zip {
    font-size: 4em;
    color: #FA8315;
    margin-left: 80vw;
}
.time{
    color: #FA8315;
    margin-left: 90vw;
}
.place {
    color: #C8C8C8;
    margin-left: 90vw;
}
.silverlinings {
    font-size: 4em;
    color: black;
    margin-left: 85px;
    padding: 0px;
    margin-top: -60px; 
}
.columns {
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}
    .column1 {
    border: 5px solid;
    color: black;
    width: 40vw;
    margin: 10px;
    padding: 50px; 
}
.temp {
    font-size: 1em;
    color: #C8C8C8; 
}
.icon {
    width: 100%;  
    margin-top: -120px;
}
.current_bottom {
    display:block;
    text-align: left; 
    text-indent: 150px;
    margin-top: -50px;
}
    .hour {
        background-color: grey; 
        margin-top: 20px;
        display: grid; 
        grid-template-columns: 1fr 1fr; 
        padding: 10px; 
    }
    .hour_hour p {
        text-align: left;
        color: white; 
    }
    .hour_temp p {
        text-align: right;
        color: black;
    }
.daily {
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}
.day {
    border: 5px solid;
    border-color: black;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "temp day"
    "image image"
    "humid air";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px 1fr;
    padding: 20px;
}
.day p{
    font-size: 0.8em;
}
.high_low {
    grid-area: temp;
}
.dayofweek {
    grid-area: day;
}
.iconforecast {
    grid-area: image; 
}
.humidityforecast {
    grid-area: humid;
}
.airforecast {
    grid-area: air;
}

.footer {
    background-color: white;
    width: 90vw;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    display: block;
}
.cloud {
    position: fixed; 
    bottom: 0;
    right: 0; 
    background-image: url("/img/orange\ overlay.png");
    width:70vw;
    height:100vh;
    background-repeat: no-repeat; 
    background-size: contain;
}
.windspeed {
    font-size: 4em;
    color: black;
    margin-left: 5vw; 
}
  
  /* Tablet Styles */
  @media screen and (max-width: 1024px) and (min-width: 768px) {
    body {
      background-color:white;
    }
    .zip {
        font-size: 4em;
        color: #E8FF00;
    }
    .time{
        color: black;
        margin-left: 10vw;
        margin-top: -50px;
    }
    .place {
        color: #C8C8C8;
        margin-left: 10vw;
        margin-top: -80px;
    }
    .silverlinings {
        transform-origin: bottom right;
        transform: rotate(270deg);
        position: absolute;
        width: 500px;
        top: -200px; 
        left: -500px; 
        font-size: 2em;
    }
    .column1 {
        border: none;
        width: 60vw;
        height: 80vh;
        margin: 0px;
        padding: 10px; 
    }
    .icon {
        margin-top: -70px;
    }
    .temp {
        color: #C8C8C8; 
        margin-left: 100px;
    }
    .daily {
        background-color: white;
        width: 70vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .footer {
        background-color: white;
        width: 90vw;
        margin: auto;
        padding: 0px;
        margin-top: 0px;
        display: block;
    }
    .cloud {
        position: fixed; 
        bottom: 0;
        left: 0; 
        background-image: url("/img/yellow\ overlay.png");
        width:120vw;
        height:120vh;
        background-repeat: no-repeat; 
        background-size: contain;
    }
}

    /* Phone Styles */
    @media screen and (max-width: 767px) {
    body {
        background-color: white;
    }
    .zip {
        font-size: 3em;
        color: #00FFDC; 
        margin-left: 12vw;
        margin-top: 80px;
    }
    .time{
        margin-left: 12vw;
        color: black;
    }
    .place {
        color: black;
        margin-left: 12vw;
    }
    .silverlinings {
        font-size: 2em;
        margin-left: 85px;
    padding: 0px;
    margin-top: 20px; 
    }
      .columns {
          background-color: white;
          width: 70vw;
          margin: auto;
          padding: 20px;
          margin-top: 0px;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr auto;
          grid-gap: 10px;
      }
          .column1 {
          border: none;
          width: 70vw;
          margin: 0px;
          padding: 0px; 
      }    
      .hourly {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
      }
    .hour {
        display: grid;
        background-color: black; 
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr; 
  }
  .hour_temp p {
    text-align: center;
    color: #00FFDC;
}
  .current_bottom {
    display: grid;
    background-color:  #C8C8C8;
    margin-top: -50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    text-indent: 0px;  
    margin-top: 10px;
}
  .daily {
    background-color: white;
    width: 70vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.day {
    border: none;
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    "day image temp";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}
.high_low {
    grid-area: temp;
}
.dayofweek {
    grid-area: day;
}
.iconforecast {
    grid-area: image; 
}
  .humidityforecast {
    display: none; 
}
.airforecast {
    display: none; 
}
  .cloud {
    position: fixed; 
    bottom: 0;
    right: 0; 
    background-image: url("/img/teal\ overlay.png");
    width:90vw;
    height:70vh;
    background-repeat: no-repeat; 
    background-size: contain;
}
    }
